<div class="container">
  <div class="row">
    <form class="col s12" ng-submit="login()">
      <div class="row">
        <div class="input-field col s6">
          <input id="username" type="text" class="validate" placeholder="Username" ng-model="username">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" class="validate" placeholder="Password" ng-model="password">
        </div>
        <div class="row">
          <div class="input-field col s12 right">
            <button class="btn waves-effect waves-light  grey darken" type="submit" name="action">LogIn
            <i class="mdi-content-send right"></i>
          </div>
        </div>
      </button>
    </form>
  </div>
</div>