<img ng-src="http://placehold.it/350x150">
<ul ng-model='response'>
  <h6>{{response.lastName}} {{response.firstName}}</h6>
  <p><em>Email address:</em>{{response.email}}</p>
  <p><em>Username:</em>{{response.username}}</p>
  <p><em>Member Since:</em> {{response.date_created}}</p>
  <p><em>Date of Birth:</em> {{response.date_of_birth}}</p>
 <!--  <p><em>Jobs Posted:</em> {{}}</p> -->
</ul>






<!-- <div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Job Title</label>
      </div>
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Job Details</label>
      </div>
      <button class="btn waves-effect waves-light  pink darken-1" type="submit" name="action" ng-click="postJob()">Submit
      <i class="mdi-content-send right"></i>
    </div>
  </form>
</div> -->