
.imgdiv {
  background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url("../img/jobseek.jpg")no-repeat;
  background-size: cover;
  height: 700px;
  margin-bottom: -2%;
}

#button {
  position:relative;
  left: 35%;
  margin-top:30%;
}

/*nav {
  background: rgba(255, 255, 255, 0.5);
   opacity: 0.1 !important; 
   filter: alpha(opacity=50);
}*/