
.imgdiv {
  background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url("../img/jobseek.jpg")no-repeat;
  background-size: cover;
  height: 700px;
  margin-bottom: -2%;
}

#button {
  float:right;
  left: 35%;
  margin-top:30%;
}


#profile {
  width:750px;
}
